{{> head }}
  
{{> navbar }}


<div class="row">
    <div class="col-8">
        <h1>Texto de Muestra para el About</h1>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem non sit quam dolorem eaque veniam quasi suscipit, illo magni placeat voluptatum qui nam recusandae est iure ex rerum aliquam? Deserunt?
</p>
    </div>
<div class="col-4">
    <img src="assets/img/llave.jpg" class="img_thumbnail">
</div>
></div>


{{> footer }}